.delete-btn {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 3px;
  }
  .edit-btn{
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 3px;
    margin-right: 5px;
  }


/* .edit-btn:hover {
    color: #0056b3; 
}



.delete-btn:hover {
    color: #b02a37; 
} */
.modal-header[_ngcontent-ng-c3406347071] {
    display: flex
;
    justify-content: space-between;
}