<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        Equipment Master
    </div>

    <div class="card-body">
        <form>


            <div class="card mt-2">
                <div class="card-header">BASIC DATA</div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Equipment ID|Number<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter Equipmentid">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Equipment Description<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter equipmentdescription">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Equipment category<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Equipment category">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Equipment Type<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Equipment Type ">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Status<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter Status ">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Functional Location<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Functional Location">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Parent Equipment<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Parent Equipment">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Cost Center<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter Cost Center">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Manufacturer<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Manufacturer">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Model Number<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Model Number">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Serial Number<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Serial Number">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Asset ID<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Asset ID">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>QR Code<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="QR Code">
                            </div>
                        </div>



                    </div>
                </div>
            </div>


            <div class="card mt-2">
                <div class="card-header">Location Data</div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Plant<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter Plant">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Maintanance Plant<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Maintanance Plant">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Functional Location<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Functional Location">
                            </div>
                        </div>


                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Room<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter Room">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Gps Location<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Gps Location">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mt-2">
                <div class="card-header"> Organization</div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Responsible Department</label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter ResponsibleDepartment">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Cost Center</label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter costcenter">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Planner Group<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter plannergroup">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Work Center<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="number"
                                    placeholder="Enter WorkCenter">
                            </div>
                        </div>



                    </div>
                </div>
            </div>


            <div class="card mt-2">
                <div class="card-header">Maintenance data</div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Maintanance Strategy<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Maintanance Strategy">
                            </div>
                        </div>


                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Maintanance Plan Id<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="datetime-local"
                                    placeholder="Enter MaintanancePlanId">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Waranty Start Date<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="datetime-local"
                                    placeholder="Enter WarantyStartDate">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Waranty End Date<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="datetime-local"
                                    placeholder="Enter WarantyendDate">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>AMC<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="datetime-local"
                                    placeholder="Enter Amc">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>AMC Start Date<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="datetime-local"
                                    placeholder="Enter Amcstartdate">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>AMC End Date<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="datetime-local"
                                    placeholder="Enter Amcenddate">
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card mt-2">
                <div class="card-header">Technical Specifications</div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Power Rating<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Power Rating">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Voltage<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter Voltage">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Presure Rating<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Presure Rating">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Capacity<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="enter capacity">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Speed<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="enter Speed">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Weight<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="enter weight">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Dimensions<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="enter Dimensions ">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Additional custom spec<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="enter Additional custom spec">
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card mt-2">
                <div class="card-header">Lifecycle & History</div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Installation Date<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter InstallationDate">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Comission Date<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter ComissionDate">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Last Maintanance Date<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter LastMaintananceDate">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Next Due Maintanance<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter NextDueMaintanance">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Total BreakDown Count<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter TotalBreakDownCount">
                            </div>
                            <div class="form-group">
                                <label>Total Down Time Hours<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Total Down Time Hours">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mt-2">
                <div class="card-header">Meter/Counter Data </div>
                <div class="card-body">
                    <div class="row">

                        <!-- Meter Type -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Meter Type</label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter Meter Type">
                            </div>
                        </div>

                        <!-- Current Reading -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Current Reading</label>
                                <input class="form-control form-control-sm" type="number"
                                    placeholder="Enter Current Reading">
                            </div>
                        </div>

                        <!-- Last Reading Date -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Last Reading Date</label>
                                <input class="form-control form-control-sm" type="date">
                            </div>
                        </div>

                        <!-- Threshold -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Threshold</label>
                                <input class="form-control form-control-sm" type="number"
                                    placeholder="Enter Threshold Value">
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class="card mt-2">
                <div class="card-header">Attachments</div>
                <div class="card-body">
                    <div class="row">

                        <!-- SOP Documents -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>SOP Documents</label>
                                <input class="form-control form-control-sm" type="file"
                                    accept=".pdf,.doc,.docx,.xls,.xlsx">
                            </div>
                        </div>

                        <!-- Maintenance Manuals -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Maintenance Manuals</label>
                                <input class="form-control form-control-sm" type="file" accept=".pdf,.doc,.docx">
                            </div>
                        </div>

                        <!-- Images -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Images</label>
                                <input class="form-control form-control-sm" type="file" accept="image/*" multiple>
                            </div>
                        </div>

                        <!-- Drawings -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Drawings</label>
                                <input class="form-control form-control-sm" type="file" accept=".pdf,.png,.jpg,.jpeg">
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </form>

    </div>
</div>