<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        Equipment Task List (Coming Soon)
    </div>

    <div class="card-body">

        <!-- ✅ IMPORTANT: Bind Form Here -->
        <form [formGroup]="form">

            <!-- A. BASIC DETAILS -->
            <div class="card mt-2">
                <div class="card-header">Basic Details</div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Task List Type<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter TaskListType">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Task List ID<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter TaskListID">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Task List Description<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter TaskListDescription">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Equipment Number<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Equipment Number">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Equipment Description<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Equipment Description">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Functional Location<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Functional Location">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Plant<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter plant">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Maintanance planner Group<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter MaintananceplannerGroup">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Work Center<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter WorkCenter">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Maintanance Strategy<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter MaintananceStrategy">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Valid From Date<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="date"
                                    placeholder="Enter ValidFromDate">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Status<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Status">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- B. OPERATION DETAILS -->
            <div class="card mt-2">
                <div class="card-header d-flex justify-content-between">
                    Operation Details
                    <button type="button" class="btn btn-primary btn-sm" (click)="addOperationRow()">+ Add Row</button>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Operation No</th>
                                <th>Activity Description</th>
                                <th>Work Center</th>
                                <th>Control Key</th>
                                <th>Duration</th>
                                <th>Duration Unit</th>
                                <th>Standard Text Key</th>
                                <th>Operation Category</th>
                                <th>Priority</th>
                                <th>Safety Instructions</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody formArrayName="operationData">
                            <tr *ngFor="let row of operationData.controls; let i=index" [formGroupName]="i">
                                <td><input class="form-control form-control-sm" formControlName="operationNo"></td>
                                <td><input class="form-control form-control-sm" formControlName="activityDescription">
                                </td>
                                <td><input class="form-control form-control-sm" formControlName="workCenter"></td>
                                <td><input class="form-control form-control-sm" formControlName="controlKey"></td>
                                <td><input class="form-control form-control-sm" formControlName="duration"></td>
                                <td><input class="form-control form-control-sm" formControlName="durationUnit"></td>
                                <td><input class="form-control form-control-sm" formControlName="standardTextKey"></td>
                                <td><input class="form-control form-control-sm" formControlName="operationCategory">
                                </td>
                                <td><input class="form-control form-control-sm" formControlName="priority"></td>
                                <td><input class="form-control form-control-sm" formControlName="safetyInstructions">
                                </td>

                                <td>
                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="removeOperationRow(i)">Remove</button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <!-- C. MATERIAL LIST -->
            <div class="card mt-2">
                <div class="card-header d-flex justify-content-between">
                    Spare Parts / Material List
                    <button type="button" class="btn btn-primary btn-sm" (click)="addMaterialRow()">+ Add Row</button>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Material Code</th>
                                <th>Material Description</th>
                                <th>Quantity</th>
                                <th>Unit</th>
                                <th>Storage Location</th>
                                <th>BOM Indicator</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody formArrayName="materialData">
                            <tr *ngFor="let row of materialData.controls; let i=index" [formGroupName]="i">
                                <td><input class="form-control form-control-sm" formControlName="materialCode"></td>
                                <td><input class="form-control form-control-sm" formControlName="materialDescription">
                                </td>
                                <td><input class="form-control form-control-sm" formControlName="quantity"></td>
                                <td><input class="form-control form-control-sm" formControlName="unitOfMeasure"></td>
                                <td><input class="form-control form-control-sm" formControlName="storageLocation"></td>
                                <td><input class="form-control form-control-sm" formControlName="bomIndicator"></td>
                                <td><input class="form-control form-control-sm" formControlName="remarks"></td>

                                <td>
                                    <button class="btn btn-danger btn-sm" (click)="removeMaterialRow(i)">Remove</button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <!-- D. TOOLS REQUIRED -->
            <div class="card mt-2">
                <div class="card-header d-flex justify-content-between">
                    Tools Required
                    <button type="button" class="btn btn-primary btn-sm" (click)="addToolRow()">+ Add Row</button>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Tool Code</th>
                                <th>Tool Description</th>
                                <th>Quantity Required</th>
                                <th>Tool Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody formArrayName="toolData">
                            <tr *ngFor="let row of toolData.controls; let i=index" [formGroupName]="i">
                                <td><input class="form-control form-control-sm" formControlName="toolCode"></td>
                                <td><input class="form-control form-control-sm" formControlName="toolDescription"></td>
                                <td><input class="form-control form-control-sm" formControlName="quantityRequired"></td>
                                <td><input class="form-control form-control-sm" formControlName="toolCategory"></td>

                                <td>
                                    <button class="btn btn-danger btn-sm" (click)="removeToolRow(i)">Remove</button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <!-- E. MEASUREMENT POINTS -->
            <div class="card mt-2">
                <div class="card-header d-flex justify-content-between">
                    Measurement Points
                    <button type="button" class="btn btn-primary btn-sm" (click)="addMeasurementPointRow()">+ Add
                        Row</button>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Measurement Point</th>
                                <th>Description</th>
                                <th>Target Value</th>
                                <th>Min/Max</th>
                                <th>Unit</th>
                                <th>Record Required</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody formArrayName="measurementPoints">
                            <tr *ngFor="let row of measurementPoints.controls; let i=index" [formGroupName]="i">
                                <td><input class="form-control form-control-sm" formControlName="measurementPoint"></td>
                                <td><input class="form-control form-control-sm"
                                        formControlName="measurementDescription"></td>
                                <td><input class="form-control form-control-sm" formControlName="targetValue"></td>
                                <td><input class="form-control form-control-sm" formControlName="minMaxRange"></td>
                                <td><input class="form-control form-control-sm" formControlName="unit"></td>
                                <td><input class="form-control form-control-sm" formControlName="recordRequired"></td>

                                <td>
                                    <button class="btn btn-danger btn-sm"
                                        (click)="removeMeasurementPointRow(i)">Remove</button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <!-- F. DOCUMENT ATTACHMENTS -->
            <div class="card mt-2">
                <div class="card-header d-flex justify-content-between">
                    Document Attachments
                    <button type="button" class="btn btn-primary btn-sm" (click)="addDocumentAttachmentRow()">+ Add
                        Row</button>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Attachment Type</th>
                                <th>Upload File</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody formArrayName="documentAttachments">
                            <tr *ngFor="let row of documentAttachments.controls; let i=index" [formGroupName]="i">

                                <td><input class="form-control form-control-sm" formControlName="attachmentType"></td>

                                <td>
                                    <input type="file" class="form-control form-control-sm"
                                        (change)="onFileSelected($event, i)">
                                </td>

                                <td><input class="form-control form-control-sm" formControlName="documentDescription">
                                </td>

                                <td>
                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="removeDocumentAttachmentRow(i)">Remove</button>
                                </td>

                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <!-- G. COMPLIANCE -->
            <div class="card mt-2">
                <div class="card-header">Compliance</div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Safety PPE required<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter SafetyPPErequired">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>LOTO Required<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="datetime-local">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Work Permit Required<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="datetime-local">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Hazard Notes<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </form>

        <!-- SAVE BUTTON -->
        <div class="text-end mt-3">
            <button type="button" class="btn btn-success btn-lg" (click)="saveForm()">
                💾 Save Task List
            </button>
        </div>

    </div>
</div>