<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        Equipment Task List
    </div>

    <div class="card-body">
        <form>


            <div class="card mt-2">
                <div class="card-header">A. Basic Details</div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Task List Type<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter TaskListType">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Task List ID<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter TaskListID">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Task List Description<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter TaskListDescription">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Equipment Number<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Equipment Number">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Equipment Description<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Equipment Description">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Functional Location<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter Functional Location">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Plant<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter plant">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Maintanance planner Group<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter MaintananceplannerGroup">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Work Center<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Enter WorkCenter">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Maintanance Strategy<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter MaintananceStrategy">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Valid From Date<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="date"
                                    placeholder="Enter ValidFromDate">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Status<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Status">
                            </div>
                        </div>




                    </div>
                </div>
            </div>


            <!-- LOCATION DATA TABLE -->
            <div class="card mt-2" [formGroup]="form">
                <div class="card-header d-flex justify-content-between align-items-center">
                    B. Operation Details
                    <button type="button" class="btn btn-primary btn-sm" (click)="addOperationRow()">+ Add Row</button>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Operation No</th>
                                <th>Activity Description</th>
                                <th>Work Center</th>
                                <th>Control Key</th>
                                <th>Duration</th>
                                <th>Duration Unit</th>
                                <th>Standard Text Key</th>
                                <th>Operation Category</th>
                                <th>Priority</th>
                                <th>Safety Instructions</th>
                                <th style="width: 120px;">Action</th>
                            </tr>
                        </thead>

                        <tbody formArrayName="operationData">
                            <tr *ngFor="let row of operationData.controls; let i=index" [formGroupName]="i">

                                <td><input class="form-control form-control-sm" formControlName="operationNo"
                                        placeholder="Operation No"></td>
                                <td><input class="form-control form-control-sm" formControlName="activityDescription"
                                        placeholder="Activity Description"></td>
                                <td><input class="form-control form-control-sm" formControlName="workCenter"
                                        placeholder="Work Center"></td>
                                <td><input class="form-control form-control-sm" formControlName="controlKey"
                                        placeholder="Control Key"></td>
                                <td><input class="form-control form-control-sm" formControlName="duration"
                                        placeholder="Duration"></td>
                                <td><input class="form-control form-control-sm" formControlName="durationUnit"
                                        placeholder="Duration Unit"></td>
                                <td><input class="form-control form-control-sm" formControlName="standardTextKey"
                                        placeholder="Standard Text Key"></td>
                                <td><input class="form-control form-control-sm" formControlName="operationCategory"
                                        placeholder="Operation Category"></td>
                                <td><input class="form-control form-control-sm" formControlName="priority"
                                        placeholder="Priority"></td>
                                <td><input class="form-control form-control-sm" formControlName="safetyInstructions"
                                        placeholder="Safety Instructions"></td>

                                <td>
                                    <button type="button" class="btn btn-warning btn-sm me-1"
                                        (click)="editOperationRow(i)">Edit</button>
                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="removeOperationRow(i)">Remove</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="card mt-2" [formGroup]="form">
                <div class="card-header d-flex justify-content-between align-items-center">
                    C. Spare Parts / Material List
                    <button type="button" class="btn btn-primary btn-sm" (click)="addMaterialRow()">+ Add Row</button>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Material Code</th>
                                <th>Material Description</th>
                                <th>Quantity</th>
                                <th>Unit of Measure</th>
                                <th>Storage Location</th>
                                <th>BOM Indicator</th>
                                <th>Remarks</th>
                                <th style="width: 120px;">Action</th>
                            </tr>
                        </thead>

                        <tbody formArrayName="materialData">
                            <tr *ngFor="let row of materialData.controls; let i=index" [formGroupName]="i">

                                <td><input class="form-control form-control-sm" formControlName="materialCode"
                                        placeholder="Material Code"></td>
                                <td><input class="form-control form-control-sm" formControlName="materialDescription"
                                        placeholder="Material Description"></td>
                                <td><input class="form-control form-control-sm" formControlName="quantity"
                                        placeholder="Quantity"></td>
                                <td><input class="form-control form-control-sm" formControlName="unitOfMeasure"
                                        placeholder="Unit of Measure"></td>
                                <td><input class="form-control form-control-sm" formControlName="storageLocation"
                                        placeholder="Storage Location"></td>
                                <td><input class="form-control form-control-sm" formControlName="bomIndicator"
                                        placeholder="BOM Indicator"></td>
                                <td><input class="form-control form-control-sm" formControlName="remarks"
                                        placeholder="Remarks"></td>

                                <td>
                                    <button type="button" class="btn btn-warning btn-sm me-1"
                                        (click)="editMaterialRow(i)">Edit</button>

                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="removeMaterialRow(i)">Remove</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mt-2" [formGroup]="form">
                <div class="card-header d-flex justify-content-between align-items-center">
                    D. Tools Required
                    <button type="button" class="btn btn-primary btn-sm" (click)="addToolRow()">+ Add Row</button>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Tool Code</th>
                                <th>Tool Description</th>
                                <th>Quantity Required</th>
                                <th>Tool Category</th>
                                <th style="width: 120px;">Action</th>
                            </tr>
                        </thead>

                        <tbody formArrayName="toolData">
                            <tr *ngFor="let row of toolData.controls; let i=index" [formGroupName]="i">

                                <td><input class="form-control form-control-sm" formControlName="toolCode"
                                        placeholder="Tool Code"></td>

                                <td><input class="form-control form-control-sm" formControlName="toolDescription"
                                        placeholder="Tool Description"></td>

                                <td><input class="form-control form-control-sm" formControlName="quantityRequired"
                                        placeholder="Quantity Required"></td>

                                <td><input class="form-control form-control-sm" formControlName="toolCategory"
                                        placeholder="Tool Category"></td>

                                <td>
                                    <button type="button" class="btn btn-warning btn-sm me-1"
                                        (click)="editToolRow(i)">Edit</button>

                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="removeToolRow(i)">Remove</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mt-2" [formGroup]="form">
                <div class="card-header d-flex justify-content-between align-items-center">
                    E.Measurement Points
                    <button type="button" class="btn btn-primary btn-sm" (click)="addToolRow()">+ Add Row</button>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Measurement Point</th>
                                <th>Measurement Description</th>
                                <th>Target Value</th>
                                <th>Min | Max Range</th>
                                <th>Unit</th>
                                <th>Record Required</th>
                                <th style="width: 120px;">Action</th>
                            </tr>
                        </thead>

                        <tbody formArrayName="measurementPoints">
                            <tr *ngFor="let row of measurementPoints.controls; let i=index" [formGroupName]="i">

                                <td><input class="form-control form-control-sm" formControlName="measurementPoint"
                                        placeholder="Measurement Point"></td>

                                <td><input class="form-control form-control-sm" formControlName="measurementDescription"
                                        placeholder="Measurement Description"></td>

                                <td><input class="form-control form-control-sm" formControlName="targetValue"
                                        placeholder="Target Value"></td>

                                <td><input class="form-control form-control-sm" formControlName="minMaxRange"
                                        placeholder="Min | Max"></td>

                                <td><input class="form-control form-control-sm" formControlName="unit"
                                        placeholder="Unit"></td>

                                <td><input class="form-control form-control-sm" formControlName="recordRequired"
                                        placeholder="Yes/No"></td>

                                <td>
                                    <button type="button" class="btn btn-warning btn-sm me-1"
                                        (click)="editMeasurementPointRow(i)">Edit</button>

                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="removeMeasurementPointRow(i)">Remove</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="card mt-2" [formGroup]="form">
                <div class="card-header d-flex justify-content-between align-items-center">
                    F.Document Attachments
                    <button type="button" class="btn btn-primary btn-sm" (click)="addToolRow()">+ Add Row</button>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Attachment Type</th>
                            <th>Upload File</th>
                            <th>Document Description</th>
                            <th style="width: 120px;">Action</th>
                        </tr>
                    </thead>

                    <tbody formArrayName="measurementPoints">
                        <tr *ngFor="let row of measurementPoints.controls; let i=index" [formGroupName]="i">

                            <!-- Attachment Type -->
                            <td>
                                <input class="form-control form-control-sm" formControlName="attachmentType"
                                    placeholder="Attachment Type">
                            </td>

                            <!-- Upload File -->
                            <td>
                                <input type="file" class="form-control form-control-sm"
                                    (change)="onFileSelected($event, i)">
                            </td>

                            <!-- Document Description -->
                            <td>
                                <input class="form-control form-control-sm" formControlName="documentDescription"
                                    placeholder="Document Description">
                            </td>

                            <td>
                                <button type="button" class="btn btn-warning btn-sm me-1"
                                    (click)="editMeasurementPointRow(i)">Edit</button>

                                <button type="button" class="btn btn-danger btn-sm"
                                    (click)="removeMeasurementPointRow(i)">Remove</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>





            <div class="card mt-2">
                <div class="card-header">G.compliance</div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Safety PPE required<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Enter SafetyPPErequired">
                            </div>
                        </div>


                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>LOTO Required<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="datetime-local"
                                    placeholder="Enter LOTORequired">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Work Permit Required<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="datetime-local"
                                    placeholder="Enter WorkPermitRequired ">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Hazard Notes<span class="text-danger">*</span></label>
                                <input class="form-control form-control-sm" type="datetime-local"
                                    placeholder="Enter WarantyendDate HazardNotes">
                            </div>
                        </div>




                    </div>
                </div>
            </div>














        </form>
        <div class="text-end mt-3">
            <button type="button" class="btn btn-success btn-lg" (click)="saveForm()">
                💾 Save Task List
            </button>
        </div>

    </div>
</div>