<div class="card">

    <div class="card-header d-flex justify-content-between align-items-center">
        <span>Total Stock & Inventory List</span>
        <!-- <button type="button" class="btn btn-raised btn-md btnAdd"
                    (click)="newCompanyCreation(newcompanyTemplate)">
                    + Add Stock
                </button> -->
    </div>
    <div class="card-body">


        <div class="table-responsive tableFixHead">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-nowrap">Id</th>
                        <th class="text-nowrap">Source of Stock</th>
                        <th class="text-nowrap">Company Name | Plant</th>
                        <th class="text-nowrap">Posting Date</th>
                        <th class="text-nowrap">Product Code</th>
                        <th class="text-nowrap">Product Name</th>
                        <th class="text-nowrap">Material Type</th>
                        <th class="text-nowrap">Value</th>
                        <th class="text-nowrap">Batch</th>
                        <th class="text-nowrap">S Lock</th>
                        <th class="text-nowrap">Available Stock</th>
                        <th class="text-nowrap">UOM</th>
                        <th class="text-nowrap">Created At</th>
                        <th class="text-nowrap">Updated At</th>
                        <th class="text-nowrap">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of inventoryList">
                        <td>{{ data.inventoryUniqueId }}</td>
                        <td>{{ data.sourceOfStock }}</td>
                        <td>{{ data.companyNameORPlant }}</td>
                        <td>{{ data.postingDate | date:'dd-MM-yyyy HH:mm' }}</td>
                        <td>{{ data.productCode }}</td>
                        <td>{{ data.productName }}</td>
                        <td>{{ data.materialType }}</td>
                        <td>{{ data.value }}</td>
                        <td>{{ data.batch }}</td>
                        <td>{{ data.sLock }}</td>
                        <td>{{ data.availableStock }}</td>
                        <td>{{ data.uom }}</td>
                        <td>{{ data.createdAt | date:'dd-MM-yyyy HH:mm' }}</td>
                        <td>{{ data.updatedAt | date:'dd-MM-yyyy HH:mm' }}</td>
                        <td class="text-center">
                            <!-- <i class="edit-btn fa fa-edit me-2" (click)="openEditModal(data, newcompanyTemplate)"></i> -->

                            <i class="delete-btn bx bx-trash" (click)="delete(data)"></i>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>